// Media breakpoints
$large-desktop: 1500px;
$small-desktop: 1199px;
$large-tablet: 990px;
$tablet: 767px;
$large-phone: 767px;
$mobile: 480px;

// color scheme
$white: #ffffff;
$gray-1: #f9fafb;
$gray-2: #f5f6f7;
$gray-3: #e1e1e1;
$gray-4: #dadcdf;
$gray-5: #ced1d5;
$gray-6: #afb3ba;
$gray-7: #8a8f9c;
$gray-8: #626669;
$gray-9: #545658;
$gray-10: #2f3337;
$gray-11: #22252a;
$gray-12: #17181a;
$gray-13: #282828;
$gray-14: #181818;
$gray-15: #080808;
$black: #000000;

$transparent: transparent;
$inherit: inherit;
